<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="LoraWAN devices Manager">
    <meta name="keywords" content="LoraWAN ,server ,gateway">
    <meta name="author" content="sudeesh vs ,https://gitlab.com/sudeeshvs01/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) licence">
    <meta name="designer" content="sudeesh v s">
    <meta name="owner" content="International Centre for Free and Open Source Software (ICFOSS)">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'js/bootstrap/css/bootstrap.min.css') }}">
    <!-- jQuery library -->
    <script src="{{ url_for('static', filename = 'js/jquery-3.4.1.min.js')}}"></script>


    <!-- Latest compiled JavaScript -->
    <script src="{{ url_for('static', filename = 'js/bootstrap/js/bootstrap.min.js') }}"></script>
    <style>
        html {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        
        body {
            width: 100%;
            height: 100%;
            font-family: 'Open Sans', sans-serif;
            background: #092756;
            background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
            background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
            background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
            background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
            background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
        }
        
        .login {
            width: 300px;
            height: 300px;
            left: 40%;
            margin-top: 40px;
        }
        
        input[type="text"] {
            width: 300px;
            height: 50px;
            color: black;
            background-color: transparent;
        }
        
        input[type="password"] {
            width: 300px;
            height: 50px;
            color: black;
            background-color: transparent;
        }
        
        button[type="submit"] {
            width: 300px;
            height: 50px;
            color: white;
            font-size: 20px;
            background-color: transparent;
        }
        
        h2 {
            color: #fff;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            letter-spacing: 1px;
            text-align: center;
            margin: 20px;
        }
        
        #im1 {
            margin-top: 40px;
        }
    </style>


</head>

<body>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{ url_for('static', filename = 'logo.svg')}}" id="im1">
            <h2>LoRaWAN Device Manager</h2>

        </div>
        <div class=" col-md-12 text-center">
            <div class="row ">
                <div class="  login col-md-12">
                    <form method="post" action="{{url_for('login')}}">
                        <div class="form-group">

                            <input type="text" class="form-control" name="user" id="usr" placeholder="Username">
                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control" name="pass" id="pwd" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-large">LOGIN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>