<!doctype html>
<html>

<head>

</head>

<body>
    <table border=1>
        {% for key, value in result.items() %}
        <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>