<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="LoraWAN devices Manager">
    <meta name="keywords" content="LoraWAN ,server ,gateway">
    <meta name="author" content="sudeesh vs ,https://gitlab.com/sudeeshvs01/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0) licence">
    <meta name="designer" content="sudeesh v s">
    <meta name="owner" content="International Centre for Free and Open Source Software (ICFOSS)">
    <!-- Latest compiled and minified CSS -->
    <style>
        @font-face {
            font-family: 'fontello';
            src: url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
            src: url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'), url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'), url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'), url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        
        [class*="icon-"] {
            font-family: 'fontello';
            font-style: normal;
            font-size: 3em;
            speak: none;
        }
        
        .icon-home:after {
            content: "\2302";
            color: #8a1fee;
        }
        
        .icon-cog:after {
            content: "\23fc";
            color: #eb1059;
        }
        
        .icon-cw:after {
            content: "\21bb";
            color: #f09825;
        }
        
        .icon-cog1:after {
            content: "\24C1";
            color: #25f0dfee;
        }
        
        .icon-cw1::after {
            content: "\24B6";
            color: #25f0dfee;
        }
        
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        html,
        body {
            margin: 0;
            overflow: hidden;
        }
        
        P {
            color: #f38328;
            font-weight: 900;
        }
        
        .nav {
            list-style: none;
            text-align: center;
            position: absolute;
            top: 30%;
            left: 10%;
        }
        
        .nav li {
            position: relative;
            display: inline-block;
            margin-right: -4px;
        }
        
        .nav li:before {
            content: "";
            display: block;
            border-top: 1px solid rgb(15, 69, 219);
            border-bottom: 1px solid rgb(14, 238, 208);
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            z-index: -1;
        }
        
        .nav a:link,
        .nav a:visited {
            display: block;
            text-decoration: none;
            background-color: #000000;
            margin: 36px;
            width: 144px;
            height: 144px;
            position: relative;
            text-align: center;
            line-height: 144px;
            border-radius: 50%;
            box-shadow: 0px 3px 8px rgb(38, 157, 226), inset 0px 2px 3px rgb(14, 86, 240);
            border: solid 1px transparent;
        }
        
        .nav a:before {
            content: "";
            display: block;
            background: #fff;
            border-top: 2px solid #ddd;
            position: absolute;
            top: -18px;
            left: -18px;
            bottom: -18px;
            right: -18px;
            z-index: -1;
            border-radius: 50%;
            box-shadow: inset 0px 8px 48px #ddd;
        }
        
        .nav a:active {
            box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
        }
        
        .nav a:hover {
            text-decoration: none;
            background: #bedd4c;
        }
        
        ​
    </style>
</head>

<body>

    <canvas id="c"></canvas>
    <div>

        <nav>
            <ul class="nav">
                <li>
                    <a href="{{url_for('home')}}">
                        <p class="icon-home"></p>
                        <p> Home</p>


                    </a>
                </li>
                <li>
                    <a href="{{url_for('svshutdown')}}">
                        <p class="icon-cog"></p>
                        <p>Shutdown</p>

                    </a>
                </li>
                <li>
                    <a href="{{url_for('svreboot')}}">
                        <p class="icon-cw"></p>
                        <p>Reboot</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('svlorareboot')}}">
                        <p class="icon-cog1"></p>
                        <p style="width:300px; text-align:right; margin-left:-130px; ">Reboot LoRaWAN services</p>

                    </a>
                </li>
                <li>
                    <a href="{{url_for('svairreboot')}}">
                        <p class="icon-cw1"></p>
                        <p style="width:300px; text-align:right; margin-left:-90px">Reboot Air quality service</p>

                    </a>
                </li>

            </ul>
        </nav>​

    </div>


</body>
<script>
    var hexagon_radius = 50;
    var hexagon_max_absolute_speed = 0.1;
    var hexagon_space_between = 2;
    var hexagon_line_width = 1;
    var hexagon_color = 'cyan';


    var canvas, ctx;

    var hexagons = [];

    var s3p3 = Math.sqrt(3);

    function init() {

        canvas = document.getElementById('c');
        /* canvas.width = window.innerWidth;
         canvas.height = window.innerHeight;*/
        canvas.width = 1680;
        canvas.height = 1480;
        canvas.style.width = canvas.width + 'px';
        canvas.style.height = canvas.height + 'px';
        ctx = canvas.getContext('2d');

        ctx.globalCompositeOperation = "source-over";

        var hw = Math.ceil(canvas.width / (1.5 * hexagon_radius + hexagon_space_between * 2)) + 1;
        var hh = Math.ceil(canvas.height / (s3p3 * hexagon_radius + hexagon_space_between * 2)) + 1;

        for (var x = 0; x < hw; x++)
            for (var y = 0; y < hh; y++)
                addHexagon(
                    hexagon_radius + hexagon_space_between + (1.5 * hexagon_radius + hexagon_space_between * 2) * x,
                    s3p3 * hexagon_radius / 2 + hexagon_space_between + (s3p3 * hexagon_radius + hexagon_space_between * 2) * y - (x % 2 ? s3p3 * hexagon_radius / 2 : 0), {
                        l: 0
                    }
                );

        ctx.lineWidth = hexagon_line_width;

        loop();

    }

    function loop() {
        requestAnimFrame(loop);

        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.fillStyle = 'black';
        ctx.fillRect(0, 0, canvas.width, canvas.height);

        ctx.beginPath();

        for (var i = 0; i < hexagons.length; i++)
            drawHexagonPath(i);

        ctx.shadowColor = hexagon_color;
        ctx.shadowBlur = 20;
        ctx.strokeStyle = hexagon_color;
        ctx.stroke();

    }

    function addHexagon(x, y, opts) {
        var l = Math.floor(Math.random() * 6),
            p = Math.random();

        if (!opts) opts = {};

        hexagons.push({
            sl: opts.l || opts.l === 0 ? opts.l : l,
            p: opts.p || opts.p === 0 ? opts.p : p,
            x: x,
            y: y,
            speed: opts.speed || opts.speed === 0 ? opts.speed : (Math.random() * hexagon_max_absolute_speed * 2 - hexagon_max_absolute_speed)
        });
    }

    function drawHexagonPath(hex_index) {

        var hex = hexagons[hex_index];



        ctx.moveTo(
            hex.x + Math.cos(Math.PI / 3 * hex.sl) * hexagon_radius + Math.cos(Math.PI / 3 * (hex.sl + 2)) * hexagon_radius * hex.p,
            hex.y + Math.sin(Math.PI / 3 * hex.sl) * hexagon_radius + Math.sin(Math.PI / 3 * (hex.sl + 2)) * hexagon_radius * hex.p
        );

        //ctx.moveTo(hex.x, hex.y);

        ctx.lineTo(
            hex.x + Math.cos(Math.PI / 3 * (hex.sl + 1)) * hexagon_radius,
            hex.y + Math.sin(Math.PI / 3 * (hex.sl + 1)) * hexagon_radius
        );

        ctx.lineTo(
            hex.x + Math.cos(Math.PI / 3 * (hex.sl + 2)) * hexagon_radius,
            hex.y + Math.sin(Math.PI / 3 * (hex.sl + 2)) * hexagon_radius
        );

        ctx.lineTo(
            hex.x + Math.cos(Math.PI / 3 * (hex.sl + 3)) * hexagon_radius,
            hex.y + Math.sin(Math.PI / 3 * (hex.sl + 3)) * hexagon_radius
        );

        ctx.lineTo(
            hex.x + Math.cos(Math.PI / 3 * (hex.sl + 3)) * hexagon_radius + Math.cos(Math.PI / 3 * (hex.sl + 5)) * hexagon_radius * hex.p,
            hex.y + Math.sin(Math.PI / 3 * (hex.sl + 3)) * hexagon_radius + Math.sin(Math.PI / 3 * (hex.sl + 5)) * hexagon_radius * hex.p
        );

        hex.p += hex.speed;
        if (hex.p > 1 || hex.p < 0) {
            hex.p = hex.speed < 0 ? 1 : 0;
            hex.sl += hex.speed < 0 ? -1 : 1;
            hex.sl = hex.sl % 6;
            hex.sl = hex.sl < 0 ? 4 - hex.sl : hex.sl;
        }

        hexagons[hex_index] = hex;

    }

    window.onload = function() {
        init();
    };

    window.requestAnimFrame = (function() {
        return window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            function(callback) {
                window.setTimeout(callback, 1000 / 60);
            };
    })();
</script>

</html>